.table-box{
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.table-box div{
  align-self: flex-end;
}

.table-box div label{
  margin-right: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
  }
  
  td, th {
    border: 1px solid #696969;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f0f0f0;
  }