.table-box{
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.table-box div{
  align-self: flex-end;
}

.table-box div label{
  margin-right: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
  }
  
  td, th {
    border: 1px solid #696969;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f0f0f0;
  }

  .task-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .link-taks{
    text-decoration: none;
    border: 1px solid black;
    padding: 3px 5px;
    color: black;
    border-radius: 5px;
    background-color: rgb(232, 232, 232);
    transition: background-color 0.3s linear;
  }

  .link-taks:hover{
    background-color: rgb(148, 255, 169);
  }